@import "tailwindcss";

@theme {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Roboto Mono', sans-serif;
  --font-logo: "Playwrite US Modern", sans-serif;
  --color-light: #FCFBFC;
  --color-dark: #09050C;
  --color-primary: #023E8A;
  --color-secondary: 

}



@custom-variant dark (&:where(.dark, .dark *));